# Compiled object files
*.o
*.obj
tests/tests

# Executables
*.exe
*.out
a.out
*.bin
app
main

# Libraries
*.lib
*.a
*.dll
*.so

# Debugging files
*.dSYM/
*.su
*.gch

# Build directories and logs
/build/
/Release/
/Debug/
*.log
*.swp